.feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featureCard{
    display: flex;
    box-shadow: -2px 2px 10px 2px rgb(133 124 124 / 52%);
    -webkit-box-shadow: -2px 2px 10px 2px rgb(133 124 124 / 52%);
    -moz-box-shadow:-2px 2px 10px 2px rgb(133 124 124 / 52%);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
.featureIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange{
    background-color: #FFEDED;
}
.green{
    background-color: #E5F8ED;
}
.blue{
    background-color: #E0F9FD;
}
.shoppingBag{
    color: #FF9F43;
}
.salesIcon{
    color: #28C76F;
}
.dueArrow{
    color: #00CFE8;
}
.featureInfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.featureRevenue{
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}
.featureTitle{
    font-size: 15px;
}